/* Universal style */
body, html {
 font-family: 'Lato', sans-serif;

}

a, p { 
 font-weight: 300;
 font-size: 1.75rem;
}

a { 
    text-decoration: none; 
    color: white;
}

.navigation { 
    padding: 20px; 
}

.padding {
    20px;
}

/*w3 over write*/

.w3-top, .w3-bottom {
    position: absolute;
}

.w3-white, .w3-hover-white:hover {
    color: #fff !important;
    background-color: transparent !important;
}

.w3-bar-item:hover{
    border-bottom: 1px solid white;
}

.w3-half{
    float: none;
}

.w3-sidebar{
    z-index: 999;
}

.w3-xlarge:hover {
    background: #265285 !important;
}

.w3-large {
    padding: 10px;
}

.w3-bar-block .w3-bar-item {
    padding: 25px 19px;

}

.w3-xlarge {
    display: block;
}

.w3-xlarge:hover {
    color:white;
}

.w3-bar .w3-bar-item {
    display: none;
}




/*Header section*/

.top-image {
    background: url(../imgs/light-bulb_bkground.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    height: 1000px;
    top: 0;
    position: relative;
    margin-top: -15px;
}

li { 
    color: white;
    display: inline-block;
    text-decoration: none;
}


.white {
    color: #fff;
}

.arrow-down img {
    width: 35%;
    position: relative;
    bottom: -285px;
}

/*--About section--*/

.blue {
    background: white;
    height: 10px;
    width: 100%;
}

.w3-display-topleft h2 {
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    bottom: 110px;
    left: 40px;
    color: white;
    text-transform: uppercase;
}

.triangle-topleft {
    width: 0;
    height: 20px;
    border-top: 250px solid #265285;
    border-right: 2500px solid transparent;
    flex-direction: row;
}

/*Work section*/

.wood-bg img {
    width: 100%;
    height: 180px;
}

.wood-bg h2 {
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    bottom: 95px;
    right: 40px;
    color: white;
    text-transform: uppercase;
}

.blue-bg {
    background: #265285;
    width: 150px;
    height: 150px;
    display: flex;
    margin: auto;
}

.blue-bg img {
    width: 50%;
    display: flex;
    margin: auto;
}

.blue-bg a {
    margin: auto;
}

.work-text p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 15%;
    font-stretch: condensed;
    font-family: arial;
}

.work-text h3 {
    text-align: center;
    font-family: arial;
    font-size: 1.95rem;
    font-weight: 600;
    text-transform: uppercase;
    font-stretch: condensed;
    color:#265285;
    
}


@media (min-width: 520px){

.wood-bg h2 {
    bottom: 180px;
}
    
.wood-bg img {
    height: 180px;
}

    
}

@media (min-width: 700px){

.wood-bg h2 {
    bottom: 90px;

}
    
}

@media (min-width: 945px){

.wood-bg h2 {
    bottom: 60px;

}
    
.w3-xlarge {
    font-size: 24px !important;
    display: none;
}
    
.w3-bar .w3-bar-item {
    display: block;
}


    
}

@media (min-width: 1150px){

.wood-bg h2 {
    bottom: 170px;

}
    
}

@media (min-width: 1300px){

.wood-bg h2 {
    bottom: 85px;

}
    
}

/*contact*/
.email img {
    width: 15%;
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 15%;
}




/*Footer*/

footer {
    
    background: #265285;
    padding: .5%;
}

footer p {
    padding: 10px;
    font-family: sans-serif, arial;
    font-size: small;
    color: white;
    text-align: center;
    text-transform: uppercase;
}